html {
  position: relative;
  min-height: 100%; }

body {
  padding: 70px 0;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif; }

.page-header h1 {
  position: relative; }
  .page-header h1 #loading {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 9px;
    width: 100px;
    background: transparent url(../img/loading-2.gif) 50% 50% no-repeat; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }
  .footer .container {
    padding-right: 15px;
    padding-left: 15px; }
    .footer .container p.text-muted {
      margin: 20px 0; }

.c3-legend-item,
.c3-chart-arcs-title {
  font-family: 'Open Sans', sans-serif; }

.c3-circles {
  cursor: pointer; }

.well i {
  padding: 0 10px 0 0;
  margin: 0 10px 5px 0;
  border-right: 1px solid #e3e3e3; }

.container.section {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px; }

.container h2 {
  position: relative; }
  .container h2 div.attribution {
    color: #999;
    position: absolute;
    top: 50%;
    right: 0;
    height: 80px;
    width: 250px;
    margin: -10px 0 0 0;
    font-size: 12px;
    text-align: right; }

#concept-cloud .col-xs-12 {
  position: relative; }
  #concept-cloud .col-xs-12 .btn-group {
    position: absolute;
    top: 100;
    right: 0;
    z-index: 999; }

footer .container {
  position: relative; }
  footer .container div.social {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px; }
    footer .container div.social div.fb-like, footer .container div.social a.twitter-share-button, footer .container div.social span.IN-widget {
      float: right; }
    footer .container div.social span.IN-widget {
      margin-right: 5px; }
